{% load staticfiles %}
<html style="max-width: 100%;">
    <head>
        <title>Доставка Сборных Грузов из Китая в Украину</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body style="width: 100%;">
        <!--<header>-->
            <!--<nav class="menu">-->
                <!--<ul>-->
                    <!--<li><img src="{% static 'images/logo.png' %}"></li>-->
                    <!--<li><a href="">Все услуги</a></li>-->
                    <!--<li><a href="">Почему мы?</a></li>-->
                    <!--<li><a href="">Контакты</a></li>-->
                <!--</ul>-->
            <!--</nav>-->
            <!--<nav class="phone_header">-->
                <!--<a class="round_button_phone" href="">Заказать обратный звонок</a> -->
                <!--<div class="phone_number">-->
                    <!--<img src="{% static 'images/phone-icon.png' %}">-->
                    <!--<p><b>+38 (067) 009-52-52</b></p>-->
                <!--</div>-->
                <!--<div class="phone_number">-->
                    <!--<img src="{% static 'images/phone-icon.png' %}">-->
                    <!--<p><b>+38 (048) 772-41-00</b></p>-->
                <!--</div>-->
                <!--<div class="phone_number">-->
                    <!--<p>Звоните:</p>-->
                <!--</div>-->
            <!--</nav>-->
        <!--</header>-->

        <!--<div class="main_title">-->
            <!--<p><b>Доставка</b> сборных грузов<br/>карго<br/>из Китая в <b>любую точку Украины</b></p>-->
            <!--<a class="round_button_order" href="">Заказать</a>-->
            <!--<a class="round_button_consultation" href="">Получить консультацию</a>-->
        <!--</div>-->
         <!---->
        <!--<div class="question_footer">-->
            <!--<p>Почему наши клиенты довольны?</p>-->
        <!--</div>-->

        <!--<div class="boxes_block">-->
            <!--<div class="box">-->
                <!--<img src="{% static 'images/wallet.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Отличная цена</b></p>-->
                    <!--<p>Всего от 380 у.е. за куб</p>-->
                    <!--<a class="round_button_order" href="">Заказать</a> -->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="box left">-->
                <!--<img src="{% static 'images/file.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Услуги без посредников</b></p>-->
                    <!--<p>Компания является экспедитором и таможенным брокером, имея договора со всеми судоходными линиями</p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box">-->
                <!--<img src="{% static 'images/box.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Удобный объем поставки</b></p>-->
                    <!--<p>От 0,2 до 20 м3  (если больше - лучше целым контейнером)</p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box left">-->
                <!--<img src="{% static 'images/money.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Гарантия фиксированной цены</b></p>-->
                    <!--<p>Цена точно не поменяется в процессе</p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box">-->
                <!--<img src="{% static 'images/money-bag.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Экономия на доставке по Китаю</b></p>-->
                    <!--<p>Благодаря нашим складам в Гунчжоу и Шанхае </p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box left">-->
                <!--<img src="{% static 'images/solar-system.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Отлаженная и надежная система работы</b></p>-->
                    <!--<p>За счет большого опыта</p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box">-->
                <!--<img src="{% static 'images/cranes.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Формирование отдельных партий в разные города Украины</b></p>-->
                    <!--<p>Осуществляется на нашем складе в Одессе</p>-->
                <!--</div>-->
            <!--</div>-->
            <!---->
            <!--<div class="box left">-->
                <!--<img src="{% static 'images/hourglass.png' %}">-->
                <!--<div class="box_text">-->
                    <!--<p><b>Сроки 35-60 дней</b></p>-->
                    <!--<p>Стабильная доставка морем</p>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!---->
        <!--<div class="button_center">-->
            <!--<a class="round_button_order" href="">Узнать подробности</a>-->
        <!--</div>-->
        <!---->
        <!--<div class="phone_line" style="background-image:url({% static 'images/backgound-block3.png' %}); ">-->
            <!--<p>Звоните:</p>-->
            <!--<img src="{% static 'images/phone-icon-white.png' %}">-->
            <!--<p><b>+38 (048) 772-41-00</b></p>-->
            <!--<img src="{% static 'images/phone-icon-white.png' %}">-->
            <!--<p><b>+38 (067) 009-52-52</b></p>-->
            <!--<a class="round_button_phone" style="background: #fff; " href="">Заказать обратный звонок</a>-->
        <!--</div>-->

        <!--<div class="question_footer">-->
            <!--<p>Мы рады Вам представить качественный<br/>консьерж-сервис и заботу</p>-->
        <!--</div>-->
        <!--<div class="service">-->
             <!--<div class="service_pic">-->
                <!--<img src="{% static 'images/support.png' %}">-->
                <!--<p>Всегда на связи</p>-->
            <!--</div>-->

            <!--<div class="service_pic">-->
                <!--<img src="{% static 'images/trunck.png' %}">-->
                <!--<p>Отправка любой транспортной компанией по Украине</p>-->
            <!--</div>-->
            <!---->
            <!--<div class="service_pic">-->
                <!--<img src="{% static 'images/credit-card.png' %}">-->
                <!--<p>Разные формы оплаты</p>-->
            <!--</div>-->

            <!--<div class="service_pic">-->
                <!--<img src="{% static 'images/invoice.png' %}">-->
                <!--<p>Услуга “Заплатить за товар из Украины в Китай”</p>-->
            <!--</div>-->
            <!---->
            <!--<div class="service_pic">-->
                <!--<img src="{% static 'images/investment-instruction.png' %}">-->
                <!--<p>Варианты страхования на выбор</p>-->
            <!--</div>-->
        <!--</div>-->
       <!---->
        <!--<div class="button_center">-->
            <!--<a class="round_button_order" href="">Задать вопрос</a>-->
        <!--</div>-->

        <!--<div class="question_footer" style="margin: 5% 5% 0% 5%;">-->
            <!--<p>Отличные цены:</p>-->
        <!--</div>-->

        <!--<p style="text-align: center; margin: 0% 32% 5% 32%;">(в таблице представлены цены при оформлении на наш контракт; при объеме менее 1м<sup>3</sup> могут применятся привышающие коэфициенты)</p>-->

        <!--<table class="prices_table">-->
          <!--<tr>-->
            <!--<th>Цена до Одессы <b>за м<sup>3</sup></b></th>-->
            <!--<th>Плотность <b>кг/м<sup>3</sup></b></th>-->
            <!--<th>Примеры из практики в этой категории плотности</th>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>0-200</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>201-370</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>371-450</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>451-550</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>551-650</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>651-750</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>751-900</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>901-1000</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
          <!--<tr>-->
            <!--<td>380 $</td>-->
            <!--<td>> 1000</td>-->
            <!--<td>Лампочки</td>-->
          <!--</tr>-->
        <!--</table>-->

        <!--<div class="button_center" style="margin: 5% 0% 5% 42%;">-->
            <!--<a class="round_button_order" href="">Заказать доставку из Китая</a>-->
        <!--</div>-->

       <!--<img class="pnone_logo" src="{% static 'images/big-phone-icon.png' %}">-->
       <!---->
        <!--<div class="phone_line line2" style="background-image:url({% static 'images/backgound-block7.png' %}); ">-->
            <!--<p>Звоните:</p>-->
            <!--<img src="{% static 'images/phone-icon.png' %}">-->
            <!--<p><b>+38 (048) 772-41-00</b></p>-->
            <!--<img src="{% static 'images/phone-icon.png' %}">-->
            <!--<p><b>+38 (067) 009-52-52</b></p>-->
            <!--<a class="round_button_order" style="float: none; position: none; display: inline-block;" href="">Заказать обратный звонок</a>-->
        <!--</div>-->

        <!--<div class="question_footer" style="margin: 5% 30% 0% 30%;">-->
            <!--<p>Вы сами выбираете способ таможенного оформления:</p>-->
        <!--</div>-->

        <!--<div class="button_center" style="margin: 5% 0% 5% 38%;">-->
            <!--<a class="round_button_order" href="">Просчитать оба варианта бесплатно</a>-->
        <!--</div>-->

        <!--<div class="question_footer" style="margin: 5% 30% 0% 30%;">-->
            <!--<p>Стоимость процедур при разном типе оформления</p>-->
        <!--</div>-->

        <!--<div class="button_center" style="margin: 5% 0% 5% 40%;">-->
            <!--<a class="round_button_order" href="">Выбрать более выгодный вариант</a>-->
        <!--</div>-->
        <div class="red"></div>
    <footer>
        <section class="footer-container">
            <div class="callback-container">
                <form action="">
                    <button>Заказать обратный звонок</button>
                    <div class="call_us">
                        <p>Звоните:</p>
                        <strong>
                            <img src="{% static 'images/phone-icon.png' %}" alt="small black telephone icon">
                            <p>+38 (067) 009-52-52</p>
                        </strong>
                    </div>
                </form>
            </div>
            <article class="contacts-container">
                <h1>контакты</h1>
                <p>Подробные консультации о работе компании, стоимости  услуг и це</p>
                <div class="telephones-container">
                    <ul>
                        <li>
                            <img src="{% static 'images/phone-icon2.png' %}" alt="small white telephone icon">
                            <p>+38 (048) 772-41-00</p>
                        </li>
                        <li>
                            <img src="{% static 'images/envelope.png' %}" alt="small white telephone icon">
                            <p>+38 (067) 009-52-52</p>
                        </li>
                    </ul>
                </div>
                <div class="social_networks-container">
                    <img src="{% static 'images/viber.png' %}" alt="small viber icon">
                    <img src="{% static 'images/telegram.png' %}" alt="telegram icon">
                    <p>+38 (050) 416-30-27</p>
                </div>
                <div class="email-container">
                    <img src="{% static 'images/phone-icon2.png' %}" alt="small white email icon">
                    <p>info@rastamozhka.com</p>
                </div>
            </article>
            <article class="map-container">
                <img src="{% static 'images/map.png' %}" alt="map">
            </article>
        </section>
    </footer>
    </body>
</html>