{% load staticfiles %}
<html style="max-width: 100%;">
    <head>
        <title>Доставка Сборных Грузов из Китая в Украину</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'scripts/calculator.js' %}"></script>
    </head>
    <body style="width: 100%;" onload="calculator()">
         <header>
            <nav class="menu">
                <ul>
                    <li><img src="{% static 'images/logo.png' %}" alt="логотип"></li>
                    <li><a href="">Все услуги</a></li>
                    <li><a href="">Почему мы?</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
            <nav class="phone_header">
                <a class="round_button_phone" href="">Заказать обратный звонок</a> 
                <div class="phone_number">
                    <img src="{% static 'images/phone-icon.png' %}" alt="иконка телефона">
                    <p><b>+38 (067) 009-52-52</b></p>
                </div>
                <div class="phone_number">
                    <img src="{% static 'images/phone-icon.png' %}" alt="иконка телефона">
                    <p><b>+38 (048) 772-41-00</b></p>
                </div>
                <div class="phone_number">
                    <p>Звоните:</p>
                </div>
            </nav>
             <div class="main_title">
                 <p><b>Доставка</b> сборных грузов<br/>карго<br/>из Китая в <b>любую точку Украины</b></p>
                 <a class="round_button_order" href="">Заказать</a>
                 <a class="round_button_consultation" href="">Получить консультацию</a>
                 <a class="round_button_consultation" href="">Получить консультацию</a>
             </div>
             <img src="{% static 'images/rectangle.png' %}" alt="rectangle">
        </header>


        <div class="boxes_block">
            <div class="question_footer">
                <p>Почему наши клиенты довольны?</p>
            </div>
            <div class="box" id="first-box">

                <img src="{% static 'images/wallet.png' %}" alt="кошелёк">
                <div class="box_text">
                    <p><b>Отличная цена</b></p>
                    <p>Всего от 380 у.е. за куб</p>
                    <a class="round_button_order" href="">Заказать</a> 
                </div>
            </div>

            <div class="box left" id="second-box">
                <img src="{% static 'images/file.png' %}" alt="файл">
                <div class="box_text">
                    <p><b>Услуги без посредников</b></p>
                    <p>Компания является экспедитором и таможенным брокером, имея договора со всеми судоходными линиями</p>
                </div>
            </div>
            
            <div class="box" id="third-box">
                <img src="{% static 'images/box.png' %}" alt="фон">
                <div class="box_text">
                    <p><b>Удобный объем поставки</b></p>
                    <p>От 0,2 до 20 м3  (если больше - лучше целым контейнером)</p>
                </div>
            </div>
            
            <div class="box left" id="forth-box">
                <img src="{% static 'images/money.png' %}" alt="иконка деньги">
                <div class="box_text">
                    <p><b>Гарантия фиксированной цены</b></p>
                    <p>Цена точно не поменяется в процессе</p>
                </div>
            </div>
            
            <div class="box" id="fifth-box">
                <img src="{% static 'images/money-bag.png' %}" alt="иконка деньги">
                <div class="box_text">
                    <p><b>Экономия на доставке по Китаю</b></p>
                    <p>Благодаря нашим складам в Гунчжоу и Шанхае </p>
                </div>
            </div>
            
            <div class="box left" id="sexth-box">
                <img src="{% static 'images/solar-system.png' %}" alt="солнечная система">
                <div class="box_text">
                    <p><b>Отлаженная и надежная система работы</b></p>
                    <p>За счет большого опыта</p>
                </div>
            </div>
            
            <div class="box" id="seventh-box">
                <img src="{% static 'images/cranes.png' %}" alt="кран">
                <div class="box_text">
                    <p><b>Формирование отдельных партий в разные города Украины</b></p>
                    <p>Осуществляется на нашем складе в Одессе</p>
                </div>
            </div>
            
            <div class="box left" id="eigth-box">
                <img src="{% static 'images/hourglass.png' %}" alt="песочные часы">
                <div class="box_text">
                    <p><b>Сроки 35-60 дней</b></p>
                    <p>Стабильная доставка морем</p>
                </div>
            </div>
        </div>
        <div class="button_center-container">
            <div class="button_center">
                <a class="round_button_order" href="">Узнать подробности</a>
            </div>
        </div>
        
        <div class="phone_line_callback" style="background-image:url({% static 'images/backgound-block3.png' %}); ">
            <p>Звоните:</p>
            <img src="{% static 'images/phone-icon-white.png' %}" alt="иконка телефон">
            <p><b>+38 (048) 772-41-00</b></p>
            <img src="{% static 'images/phone-icon-white.png' %}" alt="иконка телефона">
            <p><b>+38 (067) 009-52-52</b></p>
            <a class="round_button_phone" style="background: #fff; " href="">Заказать обратный звонок</a>
        </div>
        <div class="block4">
            <div class="question_footer">
                <p>Мы рады Вам представить качественный<br/>консьерж-сервис и заботу</p>
            </div>
            <div class="service">
                <div class="service_pic">
                    <img src="{% static 'images/support.png' %}" alt="поддержка">
                    <p>Всегда на связи</p>
                </div>

                <div class="service_pic">
                    <img src="{% static 'images/trunck.png' %}" alt="грузовик">
                    <p>Отправка любой транспортной компанией по Украине</p>
                </div>

                <div class="service_pic">
                    <img src="{% static 'images/credit-card.png' %}" alt="кредитная карточка">
                    <p>Разные формы оплаты</p>
                </div>

                <div class="service_pic">
                    <img src="{% static 'images/invoice.png' %}" alt="договор">
                    <p>Услуга “Заплатить за товар из Украины в Китай”</p>
                </div>

                <div class="service_pic">
                    <img src="{% static 'images/investment-instruction.png' %}" alt="инвестиции">
                    <p>Варианты страхования на выбор</p>
                </div>
            </div>
            <div class="btn-container">
                <div class="button_center">
                    <a class="round_button_order" href="">Задать вопрос</a>
                </div>
            </div>
        </div>
        <div class="question_footer">
            <p>Отличные цены:</p>
        </div>
		<div class="prices_table-container">
            <table class="prices_table">
                <tr>
                    <th>Цена до Одессы <b>за м<sup>3</sup></b></th>
                    <th>Плотность <b>кг/м<sup>3</sup></b></th>
                    <th>Примеры из практики в этой категории плотности</th>
                </tr>
                {% for info in delyverys %}
                <tr>
                    <td>{{ info.shippingCost }} $</td>
                    <td>{{ info.destiny }}</td>
                    <td>{{ info.cargoName }}</td>
                </tr>
                {% endfor %}
            </table>
            <p>(в таблице представлены цены при оформлении на наш контракт; при объеме менее 1м<sup>3</sup> могут применятся привышающие коэфициенты)</p>
            <div class="button_center">
                <a class="round_button_order" href="">Заказать доставку из Китая</a>
            </div>
        </div>

         <div class="prices_table2-container">
             <table class="prices_table2">
                 <thead>
                 <tr>
                     <th colspan="3">Узнайте стоимость перевозки уже сейчас:</th>
                 </tr>
                 </thead>

                 <tbody>
                 <tr>
                     <td> <span>1</span> </td> <td>Введите вес груза</td> <td><input id="kg" onchange="calculator()" type="text" value="300000"/> <span>кг.</span> </td>
                 </tr>
                 <tr>
                     <td> <span>2</span>  </td> <td>Введите объем груза</td> <td><input id="volume" onchange="calculator()" type="text" value="300000"/><span>м</span> <span class="litle">3</span> </td>
                 </tr>
                 <tr>
                     <td>  <span>3</span> </td> <td>Получите цену перевозки включая растаможку</td> <td><input id="result" type="text"></input></td>
                 </tr>
                 </tbody>
             </table>

         </div>

    <div class="telephone-logo-container">
        <img class="pnone_logo" src="{% static 'images/big-phone-icon.png' %}" alt="лого телефона">
    </div>
       
        <div class="phone_line line2" style="background-image:url({% static 'images/backgound-block7.png' %}); " alt="фон">
            <p>Звоните:</p>
            <img src="{% static 'images/phone-icon.png' %}" alt="иконка телефона">
            <p><b>+38 (048) 772-41-00</b></p>
            <img src="{% static 'images/phone-icon.png' %}" alt="иконка телефона">
            <p><b>+38 (067) 009-52-52</b></p>
            <a class="round_button_order" style="float: none; position: none; display: inline-block;" href="">Заказать обратный звонок</a>
        </div>
    <section class="calculate-delivery">
        <div class="calculate-delivery-title">
            <h1>Вы сами выбираете способ таможенного оформления:</h1>
        </div>
        <div class="calculate-delivery-container">
            <table class="calculate-delivery1">
                <thead>
                <tr>
                    <th>
                     <div>
                        <img src="{% static 'images/diploma2.png' %}" alt="diploma"> <span>Наш контракт</span>
                    </div>
                    </th>
                </tr>
                </thead>
                <tbody>
            <tr>
                <td>Плюсы</td>
            </tr>
            <tr>
                <td>Отличная цена доставки и растаможки</td>
            </tr>
            <tr>
                <td>Нет вопроса с банком для перевода валюты <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"></td>
            </tr>
            <tr>
                <td>Нет вопроса с таможней по оформлению декларации <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
            </tr>
            <tr>
                <td>Нет вопроса с налоговой по отчетности</td>
            </tr>
            <tr>
                <td class="stripple-cell">Нюансы</td>
            </tr>
            <tr>
                <td>Отправка из Гунчжоу и Шанхая <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
            </tr>
            <tr>
                <td>Сроки 45-60 дней <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
            </tr>
            <tr>
                <td>Tаможенное оформление нашей компанией-импортером копия</td>
            </tr>
            <tr></tr>
            </tbody>
            </table>
            <table class="calculate-delivery2">
                <thead>
                <tr>
                    <th>
                        <div><img src="{% static 'images/diploma.png' %}" alt="diploma"> <span>Ваш контракт </span> </div>
                    </th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>Плюсы</td>
                </tr>
                <tr>
                    <td>Отгрузка с любого крупного порта Китая <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>сроки 35-50 дней</td>
                </tr>
                <tr>
                    <td class="stripple-cell">Нюансы</td>
                </tr>
                <tr>
                    <td>Заключение контракта с китайской стороной <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Аккредитация в таможне <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Оплата через украинский банк в Китай <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Соблюдение сроков валютного контроля <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Подготовка документов для экспедирования груза в порту <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Прохождение таможенного контроля <img src="{% static 'images/small-border-table-line.png' %}" alt="small-border-table-line"> </td>
                </tr>
                <tr>
                    <td>Налоговая отчетность</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="button_center">
            <a class="round_button_order" href="">Просчитать оба варианта бесплатно</a>
        </div>
    </section>
    <section class="cost-table">
        <div class="table-title">
            <h1>Стоимость процедур при разном типе оформления </h1>
        </div>
        <div class="table-container">
            <table>
                <thead>
                <tr>
                    <th>Процедура</th>
                    <th>Наш контракт</th>
                    <th>Ваш контракт</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Доставка на наш склад в Китае</td>
                    <td colspan="2">Зависит от места отгрузки</td>
                </tr>
                <tr>
                    <td>Погрузка груза в контейнер</td>
                    <td rowspan="10">Исходя из калькулятора <a href="#">Сделать расчет</a> </td>
                    <td rowspan="5">Перевозка, 100-180 $/м3 </td>
                </tr>
                <tr>
                    <td>Погрузка контейнера на борт судна</td>
                </tr>
                <tr>
                    <td>Фрахт морской (перевозка из Китая в Украину)</td>
                </tr>
                <tr>
                    <td>Выгрузка контейнера с борта судна</td>
                </tr>
                <tr>
                    <td>Расформирование контейнера </td>
                </tr>
                <tr>
                    <td>Экспедирование в порту</td>
                    <td>Один платеж за партию 110 $</td>
                </tr>
                <tr>
                    <td>Услуги брокера</td>
                    <td>Один платеж за партию 200-300 $</td>
                </tr>
                <tr>
                    <td>Уплата пошлины в таможню</td>
                    <td>0-15% от стоимости груза с доставкой (в зависимости от вида тов</td>
                </tr>
                <tr>
                    <td>Уплата НДС в таможню</td>
                    <td>20% от стоимости груза с доставкой и пошлиной</td>
                </tr>
                <tr>
                    <td>Вывоз груза из порта по Одессе</td>
                    <td>Своей машиной бесплатно или 120$ за партию </td>
                </tr>
                <tr>
                    <td>Доставка по Украине</td>
                    <td colspan="2"> Зависит от места доставки</td>
                </tr>
                {% for info in procedures %}
                <tr>
                    <td>{{ info.procedureName}} </td>
                    <td>{{ info.ourContractInfo }}</td>
                    <td>{{ info.yourContractInfo  }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <form action="">
            <button>Выбрать более выгодный вариант</button>
        </form>
    </section>
    <footer>
        <section class="footer-container">
            <div class="callback-container">
                <form action="">
                    <button>Заказать обратный звонок</button>
                    <div class="call_us">
                        <p>Звоните:</p>
                        <strong>
                            <img src="{% static 'images/phone-icon.png' %}" alt="иконка телефона">
                            <p>+38 (067) 009-52-52</p>
                        </strong>
                    </div>
                </form>
            </div>
            <article class="contacts-container">
                <h1>контакты</h1>
                <p>Подробные консультации о работе компании, стоимости  услуг
                    и ценах на растаможку можно получить ежедневно с 9.00 до 18.00
                    кроме субботы и воскресенья по телефонам:</p>
                <div class="telephones-container">
                    <ul>
                        <li>
                            <img src="{% static 'images/phone-icon2.png' %}" alt="иконка телефона">
                            <p>+38 (048) 772-41-00</p>
                        </li>
                        <li>
                            <img src="{% static 'images/phone-icon2.png' %}" alt="иконка телефона">
                            <p>+38 (067) 009-52-52</p>
                        </li>
                    </ul>
                </div>
                <div class="social_networks-container">
                    <img src="{% static 'images/viber.png' %}" alt="иконка viber">
                    <img src="{% static 'images/telegram.png' %}" alt="иконка telegram">
                    <p>+38 (050) 416-30-27</p>
                </div>
                <div class="email-container">
                    <img src="{% static 'images/envelope.png' %}" alt="иконка email">
                    <p>info@rastamozhka.com</p>
                </div>
            </article>
            <article class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d687.6896148319265!2d30.726016327885812!3d46.41384447912369!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c6336ff7e679cd%3A0xd218aef31379b2ac!2z0JvRjtGB0YLQtNC-0YDRhNGB0LrQsNGPINC00L7RgC4sIDE0MCwg0J7QtNC10YHRgdCwLCDQntC00LXRgdGB0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA2NTAwMA!5e0!3m2!1sru!2sua!4v1515354722244" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
            </article>
        </section>
    </footer>
    </body>
</html>