{% load staticfiles %}
<html>
    <head>
        <title>Доставка Сборных Грузов из Китая в Украину</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <header>
            <nav class="menu">
                <ul>
                    <li><a href="">Все услуги</a></li>
                    <li><a href="">Почему мы?</a></li>
                    <li><a href="">Контакты</a></li>
                </ul>
            </nav>
            <nav class="phone_header">
                <a class="round_button_phone" href="">Заказать обратный звонок</a> 
                <p class="phone_number"><b>+38 (067) 009-52-52</b></p>
                <p class="phone_number"><b>+38 (048) 772-41-00</b></p>
                <p class="phone_number">Звоните:</p>
            </nav>
        </header>

        <div class="main_title">
            <p><b>Доставка</b> сборных грузов<br/>карго<br/>из Китая в <b>любую точку Украины</b></p>
            <a class="round_button_order" href="">Заказать</a>
            <a class="round_button_consultation" href="">Получить консультацию</a>
        </div>
         
        <div class="question_footer">
            <p>Почему наши клиенты довольны?</p>
        </div>

        <div class="boxes_block">
            <div class="box">
                <img style="display: inline-block; position: relative; float: left; margin: 5%;" src="{% static 'images/wallet.png' %}">
                <p><b>Отличная цена</b></p>
                <p>Всего от 380 у.е. за куб</p>
                <a class="round_button_order" href="">Заказать</a> 
            </div>

            <div class="box">
                <img src="{% static 'images/file.png' %}">
                <p><b>Услуги без посредников</b></p>
                <p>Компания является экспедитором и таможенным брокером, имея договора со всеми судоходными линиями</p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/box.png' %}">
                <p><b>Удобный объем поставки</b></p>
                <p>От 0,2 до 20 м3  (если больше - лучше целым контейнером)</p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/money.png' %}">
                <p><b>Гарантия фиксированной цены</b></p>
                <p>Цена точно не поменяется в процессе</p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/money-bag.png' %}">
                <p><b>Экономия на доставке по Китаю</b></p>
                <p>Благодаря нашим складам в Гунчжоу и Шанхае </p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/solar-system.png' %}">
                <p><b>Отлаженная и надежная система работы</b></p>
                <p>За счет большого опыта</p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/cranes.png' %}">
                <p><b>Формирование отдельных партий в разные города Украины</b></p>
                <p>Осуществляется на нашем складе в Одессе</p>
            </div>
            
            <div class="box">
                <img src="{% static 'images/hourglass.png' %}">
                <p><b>Сроки 35-60 дней</b></p>
                <p>Стабильная доставка морем</p>
            </div>
        </div>
        
        <div class="button_center">
            <a class="round_button_order" href="">Узнать подробности</a>
        </div>
        
        <div>
            <p>Звоните:</p>
            <p>+38 (067) 009-52-52</p>
            <a class="round_button_phone" href="">Заказать обратный звонок</a>
        </div>
        
        <p>Мы рады Вам представить качественный консьерж-сервис и заботу</p>
        <p>Всегда на связи</p>
        <p>Отправка любой транспортной компанией по Украине</p>
        <p>Разные формы оплаты</p>
        <p>Услуга “Заплатить за товар из Украины в Китай”</p>
        <p>Варианты страхования на выбор</p>

        <div class="button_center">
            <a class="round_button_order" href="">Задать вопрос</a>
        </div>

    </body>
</html>