a {
	text-decoration: none;
}
.menu ul, .menu li, .phone_header p, .phone_header a{
	margin: 0;
	padding: 0;
}
.menu ul {
	background: gray;
	list-style: none;
	width: 100%;
}
.menu li {
	float: left;
	position: relative;
	width:auto;
	display: block;
	padding: 10px 25px;
	text-align: center;
}

.phone_number{
	font-weight: bold;
	float: right;
	position: relative;
	width:auto;
	display: block;
	padding: 10px 25px;
	text-align: center;	
}

.round_button_phone {
	font-weight:bold;
	float: right;
	position: relative;
	width:auto;
	display: block;
	color: #ff5722;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	margin: 3px auto 5px;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 3px 5px #ccc;
}
.round_button_phone:hover {
	margin: 5px auto 3px;
	box-shadow: 0 0 1px #eee;
}
