a {
	text-decoration: none;
	color: black;
}
html, body, .menu ul, .menu li{
	margin: 0;
	padding: 0;
}
.menu ul {
	list-style: none;
	width: 100%;
}
.menu li {
	float: left;
	position: relative;
	width:auto;
	display: block;
	padding: 3% 2%;
	text-align: center;
}
.phone_number{
	float: right;
	position: relative;
	width:auto;
	display: block;
	padding: 3% 2% 0% 0%;
	text-align: center;	
}
.phone_header img, .phone_header p{
	display: inline;
	vertical-align: middle;
}
.round_button_phone {
	font-weight: bold;
	float: right;
	position: relative;
	width:auto;
	display: block;
	color: #ff5722;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	text-decoration: none;
	padding: 10px;
	margin: 2% 3% 2% 0%;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 3px 5px #ccc;
}
.round_button_order {
	float: left;
	position: relative;
	width:auto;
	display: block;
	background:#ff5722; 
	color: #fff;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	text-decoration: none;
	padding: 12px 35px;
	margin: 3% 0%;
	border: 1px solid #ddd;
	border-radius: 20px;
	box-shadow: 0 3px 5px #ccc;
}
.round_button_consultation {
	float: left;
	position: relative;
	width:auto;
	display: block;
	background: #fff; 
	color: #ff5722 ;
	text-shadow: 0 1px 0 #fff;
	text-align: center;
	text-decoration: none;
	padding: 12px 35px;
	margin: 3% 5%;
	border: 1px solid #ff5722;
	border-radius: 20px;
	box-shadow: 0 3px 5px #ccc;
}
.main_title{
	display: inline-block;
	margin: 5% 40% 5% 1%;
}
.main_title p{
	font-size: 30px;
}
.question_footer{
	display: block;
	margin: 5% 5% 2% 5%;
}
.question_footer p{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}
.box{
	float: right;
	margin: 2% 15% 2% 0%;
	position: relative;
	width:50%;
	display: inline-block;
	text-shadow: 0 1px 0 #fff;
	text-decoration: none;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 5px #ccc;
}
.box.left{
	float: left;
	margin: 2% 0% 2% 15%;
}
.box img{
	display: inline-block;
	position: relative; 
	float: left; 
	margin: 9% 12%;
}
.boxes_block{
	display: inline-block;
}
.button_center{
	display: inline-block;
	margin: 5% 0% 5% 45%;
}
.box_text{
	padding: 5% ;
}
.phone_line p{
	color: #fff;
	display: inline-block;
	vertical-align: middle;
	font-size: 20px;
	margin: 0% 2% 0% 0%;
}
.line2 p{
	color: #000;
}
.line2{
	padding: 0%;
}
.phone_line a{
	float: none; 
	position: none; 
	display: inline-block;
}
.phone_line img{
	vertical-align: middle;
	margin: 0%;
}
.phone_line{
	padding: 1% 0%;
	width: 100%;
	text-align: center;
}
.service_pic{
	margin: 1%;
	display: inline-block;
	text-align: center;
	width: 25%;
}
.service{
	text-align: center;
}
.prices_table {
    border-collapse: collapse;
    align-content: center;
	margin: 1% 25% 2% 30%;
	display: inline-block;
	text-decoration: none;
	border: 1px solid #ddd;
	border-radius: 5px;
	box-shadow: 0 3px 5px #ccc;
}
.prices_table th{
	background: #33acf7;
	color:#fff;
}
.prices_table th, .prices_table td, 
.contract th, .contract td  {
	padding: 2%;
    text-align: center;
}
.pnone_logo{
	background: #fff;
}
/* footer */
.callback-container {
	min-width: 770px;
	width: 15%;
	border: 1px solid #e5e6e8;
	margin:  0 auto;
	border-radius: 10px;
	background-color: #fff;
	box-shadow: 0 0 10px #d2d2d2;
	position: relative;
}
.map-container>iframe {
	width: 100%;
	height: 430px;
}
.callback-container>form>button {
	min-width: 315px;
	min-height: 50px;
	margin: 50px auto 25px;
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #fff;
	background-color: #ff5722;
	border: 0px solid #fff;
	border-radius: 50px;
}
.callback-container>form {
	display:  flex;
	flex-direction:  column;
	margin: 0;
}
.callback-container>form p{
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	color: #000;
	margin: 0;
	line-height: 30px;
}
.callback-container .call_us, .callback-container .call_us>strong{
	display:  flex;
	flex-direction:  row;
	justify-content: center;
	align-items: center;
}
.callback-container .call_us img {
	margin-left: 20px;
	margin-right: 10px;
}
.callback-container .call_us{
	margin-bottom: 50px;
}
article.contacts-container {
	background-color: #1e2e3b;
	color: #fff;
	margin-top: -145px;
	padding-top: 145px;
	display:  flex;
	flex-direction:  column;
	align-items: center;
}
.contacts-container>h1 {
	margin:  75px auto 35px;
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    line-height: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
.telephones-container>ul {
    list-style-type: none;
    margin: 70px auto 40px;
    padding: 0;
}
.telephones-container>ul>li,
.social_networks-container,
.email-container {
    display: flex;
    align-items: center;
}
.telephones-container>ul>li img,
.social_networks-container img,
.email-container img {
    margin-right: 15px;
}
.telephones-container>ul>li p,
.social_networks-container p,
.email-container p{
    margin: 0;
}
.contacts-container>p{
    color: #879096;
    word-wrap: break-word;
    min-width: 460px;
    display: block;
    margin: 0 auto;
    width: 33%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}
.telephones-container>ul>li {
    margin: 10px auto;
}
.social_networks-container {
    margin-bottom: 40px;
}
.email-container {
    margin-bottom: 90px;
}
/* footer end */
/* cost-table */
.cost-table th {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color:#fff;
    font-weight: 100;
    border: 0px solid #fff;
}
.cost-table td{
    border: 1px solid #b3e5fc;
}
.cost-table table{
    min-width: 1030px;
    margin: 0 auto;
    border-collapse: collapse;
}
.cost-table thead {
    background-color: #03a9f4;
}